/** {
  box-sizing: border-box;
}

h1 {
  background-color: grey;
}

li {
  margin: 0;
  background-color: wheat;
}

.contacts {

}*/

body {
  background-color: red;
}
p {
  background-color: black;
}
