<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to My CRM</h1>
    <nav>
      <div>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/contacts">Contact List</li>
          <li><a href='/about_me'>About Me</a></li>
        </ul>
      </div>
    </nav>
    <h2>Site created by: Jennie Li.</h2>
    <p>My contact info can be found on my list...sorta.</p>
  </body>
</html>
