* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #444444;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  padding: 20px;
  width: 100%;
  font-size: 36px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
main {
  margin-left: 2em;
  margin-right: 2em;
}
fieldset {
  color: #222222;
  margin: 10px 0px;
}
input {
  margin-top: 5px;
}

.copy {
  color: white;
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  }
.topnav {
  background-color: grey;
  text-align: center;
  padding: 10px;
  margin: 1px;
}
.link {
  color: white;
  font-weight: bold;
}
.number {
  font-weight: bold;
  border-bottom: solid #4cb3cd;
}
.mycontacts {
  font-weight: 500;
  font-size: 20px;
  background-color: salmon;
  padding: 20px;
}
.contacts {
  background-color: #4cdfff;
  padding: 25px;
  margin-top: 15px;
}
.info {
  font-size: 23px;
  font-weight: bolder;
}
.addc {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: bold;
}

input[type=text] {
  width: 20em;
  padding: 5px;
  border: 1.5px solid #727171;
  border-radius: 4px;
  outline: none;
}
input[type=text]:focus {
  border: 1.5px solid #333;
}
input[type=submit] {
  padding: 5px;
}
